
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">


<div ng-include="'/layout/topbar.html'"></div>
    <div ng-include="'/layout/sidebar.html'"></div>


</nav>
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Address Book</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">
           <div ng-view></div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->